version: '3.8'

services:
  db:
    image: postgres:15
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_DB=phytosynergy_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=YOUR_STRONG_DATABASE_PASSWORD # <-- CHANGE THIS
    restart: always

  web:
    build: .
    volumes:
      - static_volume:/app/staticfiles
    expose:
      - 8000
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgres://postgres:YOUR_STRONG_DATABASE_PASSWORD@db:5432/phytosynergy_db # <-- CHANGE THIS to match above
      - DJANGO_SECRET_KEY=yu2ds(3gm3wm1yonzm^!blh4=)*g31!=_9(+_l-ahr#282y#tj # <-- CHANGE THIS
      - DEBUG=0 # Set to 0 for production
      - ALLOWED_HOSTS=* # Start with a wildcard, we can restrict this later
    restart: always

  nginx:
    image: nginx:latest
    ports:
      - "80:80" # Maps port 80 on the server to port 80 in the container
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/app/staticfiles
    depends_on:
      - web
    restart: always

volumes:
  postgres_data:
  static_volume: